<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>게시물 수정</title>
    <link rel="stylesheet" th:href="@{/css/postForm.css}" />
</head>
<body>
<div layout:fragment="content" class="content">
    <h1>게시물 수정</h1>
    <form th:action="@{/posts/edit/{id}(id=${post.id})}" th:method="post">
        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" th:name="title" th:value="${post.title}" />
        </div>
        <div>
            <label for="content">내용:</label>
            <textarea id="content" th:name="content" th:text="${post.content}">내용</textarea>
        </div>
        <div style="text-align: right;">
            <button type="submit">수정</button>
        </div>
    </form>
</div>
</body>
</html>

