<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 푸터 -->
<div class="footer" th:fragment="footer">
    <a href="/">
    <div class="footer-logo">
        <img src="https://shop-t1.gg/web/upload/appfiles/ZaReJam3QiELznoZeGGkMG/4906bbf89010149b34da31495a71f57e.svg" alt="T1 Logo" >
    </div>
    </a>
    <div class="footer-red-line"></div> <!-- 빨간 선 추가 -->
    <div class="footer-columns">
        <div class="footer-column">
            <h3>회사정보</h3>
            <p>에스제이엔터테인먼트 주식회사</p>
            <p>대표: 조제프</p>
            <p>주소: 서울특별시 강남구 신사동 627</p>
            <p>사업자번호: 614-81-05875</p>
            <p>개인정보보호책임자: 이용진</p>
        </div>
        <div class="footer-column">
            <h3>고객센터</h3>
            <p>02-6009-2500</p>
            <p>Email: shop@t1.gg</p>
            <p>운영시간: 오전 10:00 - 오후 7:00</p>
            <p>점심시간: 12:00 - 13:00</p>
        </div>
        <div class="footer-column">
            <h3>커뮤니티</h3>
            <a href="/posts">NOTICE</a>
        </div>
        <div class="footer-column">
            <h3>SOCIAL MEDIA</h3>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
    </div>
</div>
</body>
</html>
