html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

}

.header {
    height: 100px; /* 헤더의 높이를 설정하세요 */
}

.content {
    width: 100%; /* 가로로 전체 크기를 차지합니다 */
    min-height: calc(100vh - 100px); /* 화면 높이에서 헤더와 푸터 높이를 뺀 값 */
    padding: 0; /* 컨텐츠 영역 내부 패딩 */
    box-sizing: border-box;
    overflow-y: visible; /* 내용이 길어지면 스크롤이 생기도록 합니다 */
    padding-bottom: 200px; /* 푸터와 간격을 위한 하단 여백 */
}

.footer {

    background-color: #2e2d2d; /* 짙은 회색 배경 */
    color: white; /* 흰색 글자 */
    font-size: 14px; /* 기본 글자 크기 */
    padding: 40px 120px; /* 위아래 40px, 좌우 30px의 패딩 */
    display: flex; /* 플렉스 박스 레이아웃 */
    flex-wrap: wrap; /* 내용이 많을 경우 다음 줄로 넘김 */
    justify-content: space-between; /* 요소들 사이에 균등한 간격 배치 */
    align-items: center; /* 요소들을 세로 중심으로 정렬 */
    align-items: top; /* 상단 정렬 */
    font-family: 'Arial', sans-serif; /* 폰트 스타일 */
}

